html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  min-height: -webkit-fill-available;
}

body, #__next, .my-h-full {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

/* Define The Arabic Font */

  @font-face {
  font-family: 'Neo Sans Arabic';
  font-style: normal;
  font-weight: 400;
  src: local('Neo Sans Arabic Regular'), url('../public/assets/fonts/NeoSansArabic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Neo Sans Arabic';
  font-style: normal;
  font-weight: 300;
  src: local('Neo Sans Arabic Light'), url('../public/assets/fonts/NeoSansArabicLight.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Neo Sans Arabic';
  font-style: normal;
  font-weight: 500;
  src: local('Neo Sans Arabic Medium'), url('../public/assets/fonts/NeoSansArabicMedium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Neo Sans Arabic';
  font-style: normal;
  font-weight: 700;
  src: local('Neo Sans Arabic Bold'), url('../public/assets/fonts/NeoSansArabicBold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Neo Sans Arabic';
  font-style: normal;
  font-weight: 900;
  src: local('Neo Sans Arabic Black'), url('../public/assets/fonts/NeoSansArabicBlack.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Neo Sans Arabic';
  font-style: normal;
  font-weight: 100;
  src: local('Neo Sans Arabic Ultra'), url('../public/assets/fonts/NeoSansArabicUltra.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Neo Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Neo Sans Medium'), url('../public/assets/fonts/Neo_Sans_Medium.woff') format('woff');
  }